.containerTopBar {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: var(--topbar-background-color);
  cursor: default;
  /* font-size: 20px; */
  height: 70px;
}

.link,
.topBarRight {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 20px;
}

.linkChildren::after {
  content: "";
  display: block;
  transform: scaleX(0);
  margin-top: 5px;
  border-bottom: 1px solid var(--beige-color);
  background: var(--beige-color);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.linkChildren:hover::after {
  transform: scaleX(1);
}

.topBarRight {
  margin-left: auto;
  padding-right: 20px;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 70px;
}

.logo {
  height: 45%;
}

.logo:hover {
  height: 55%;
}
