button {
  padding: 10px;
  border-radius: 8px;
  height: 45px;
  border: 1px solid var(--background-color);
  background-color: var(--beige-color);
  cursor: pointer;
}

button:focus,
button:hover {
  filter: brightness(0.8);
  outline: none;
}

button:disabled {
  pointer-events: none;
}
