button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  height: 45px;
  border: 1px solid var(--white-color);
  background-color: var(--background-color);
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--white-color);
}

button:focus,
button:hover {
  filter: brightness(0.8);
  outline: none;
}

button:disabled {
  pointer-events: none;
  border: 1px solid var(--disabled-color);
  color: var(--disabled-color);
}
