.containerTicTacToe {
  /* font-size: 18px; */
}

.container > div {
  margin-top: 20px;
}

.playerName {
  /* margin-bottom: 20px; */
  /* font-size: 18px; */
}

.content {
  display: flex;
}

.containerSquare {
  border: 1px solid var(--background-color);
  display: flex;
  flex-wrap: wrap;
  width: 183px;
  height: 183px;
  cursor: pointer;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background-color);
  width: 59px;
  height: 59px;
}

.square:hover {
  background-color: #eed9c4;
  color: var(--background-color);
}

.containerHistory {
}

.resetButton {
  width: "";
}

/* .square:first-child {
  @square;
} */
