.containerHome {
  position: absolute;
  background-image: url("../../component/image/autumn.png");
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s;
  width: 100%;
  height: calc(100vh - 70px);
}

.home {
  position: absolute;
  margin: 70px 10%;
  width: 80%;
}

.textHome {
  line-height: 1.25;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .home {
    margin: 35px 10%;
  }
}
